<ion-content [fullscreen]="true" appScrollbarTheme>
    <app-empty *ngIf="sub?.components.hall.halls && sub?.components.hall.halls.length === 0"></app-empty>
    <app-loading *ngIf="!sub?.components.hall.halls"></app-loading>
    <ion-grid *ngIf="sub?.components.hall.halls && sub?.components.hall.halls.length > 0" class="ion-no-padding">
        <ion-row>
            <ion-col size="auto">
                <ul class="halls">
                    <li *ngFor="let item of sub?.components.hall.halls"
                        [class.curr]="item.uidHall === sub?.components.hall.hall?.uidHall"
                        [ngStyle]="{'height':((content?.el.offsetHeight - 58) / 4) + 'px'}">
                        <div class="item-box">
                            <div class="item-content">
                                <h2>{{item.hallName}}</h2>
                                <p>{{item.posTotalSeatNum}}座位</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-col>
            <ion-col>
                <ion-grid class="plans ion-no-padding">
                    <ion-row>
                        <ion-col size="3"
                                 *ngFor="let item of sub?.components.hall.plans" [class.expired]="item?.expired"
                                 [ngStyle]="{'height':((content?.el.offsetHeight - 58) / 8) + 'px'}">
                            <div *ngIf="item" class="item-box">
                                <div class="item-content">
                                    <h2>{{item.posMovieNameShort}}<!--{{item.posStartTime | date : 'HH:mm'}}--></h2>
                                    <p>
                                        <span class="lan">{{item.posMovieLan}}</span><span
                                            class="publish">{{item.planMoviePublish}}</span>
                                        {{item.posStartTime | repairDate | date : 'HH:mm'}}
                                    </p>
                                    <p class="count">
                                        <span class="seats">余:{{item.posSeatLeft}}座</span>
                                    </p>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>
            <pagination *ngIf="sub" [page]="sub?.components.hall.page[type]"></pagination>
        </ion-title>
    </ion-toolbar>
</ion-footer>
