app-catering-search {
  position: relative;
  z-index: 10;

  &::ng-deep {
    ion-grid {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

:host {
  & > ion-content {
    --background: #F5F6F7;

    app-catering-card, app-catering-list {
      display: block;
    }

    app-catering-card {
      height: calc(100% - 72px);
    }
  }
}
