<ion-header class="page-header">
  <ion-toolbar>
    <ion-title class="nav">
      <ul>
        <li *ngIf="authSvc.role('780')" [ngClass]="{'active':index == 0}" (click)="changeTab(0)">退单</li>
        <li *ngIf="authSvc.role('781')" [ngClass]="{'active':index == 1}" (click)="changeTab(1)">整场退票</li>
        <li *ngIf="authSvc.role('782')" [ngClass]="{'active':index == 2}" (click)="changeTab(2)">退票申请</li>
      </ul>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 退票开始 -->
<ion-content [fullscreen]="true" *ngIf="index == 0" class="content">
  <div class="content-box">
    <div class="content-top">
      <form [formGroup]="refundform" class="auth-form">
        <ion-item lines="none" class="queryall-item">
          <table>
            <tr>
              <td width="25%">
                <input #autoFocusInput placeholder="请输入票号、订单号或扫描电影票信息码" class="search" formControlName="search" nz-input (keypress)="keyPress($event)">
              </td>
              <td class="ctd-btn-width">
                <button nz-button nzType="primary" class="apply-btn" (click)="query()">查询</button>
                <button nz-button nzType="default"  class="delete-btn" (click)="clear()">清除</button>
              </td>
            </tr>
          </table>
        </ion-item>
      </form>
    </div>

    <div class="content-center" *ngIf="billDetail && billDetail.billCode != ''">
        <div class="content-div">
          <table class="refund-table">
            <tr>
              <td class="detail-td">订单号：<i>{{billDetail.billCode}}</i></td>
              <td class="detail-td">销售时间：<i>{{billDetail.createTimeLabel}}</i></td>
              <td class="detail-td">销售渠道：<i>{{billDetail.channelCustomName}}</i></td>
              <td class="detail-td">影厅：<i>{{billDetail.hallNameLabel}}</i></td>
            </tr>
            <tr>
              <td class="detail-td">影片：<i>{{billDetail.movieNameLabel}}</i></td>
              <td class="detail-td">放映时间：<i>{{billDetail.showTime}}</i></td>
              <td class="detail-td">订单金额：<i>{{billDetail.billAmount}}元</i></td>
              <td class="detail-td"></td>
            </tr>
          </table>
        </div>
        <div class="left-content">
          <div class="left">
              <div class="goods-div">
                <div class="goods-all">
                  <mat-checkbox class="example-margin" (change)="selectAll($event)">全选</mat-checkbox>
                </div>
                <ul class="goods-ul">
                  <li [ngClass]="{'active': ticket.isChecked, 'disabled': ticket.isRefund == 1}" *ngFor="let ticket of ticketList">
                    <table class="goods-table">
                      <tr>
                        <td class="checkbox">
                          <mat-checkbox class="example-margin" [checked]="ticket.isChecked" (change)="select(ticket,$event)" *ngIf="ticket.isRefund == 0"></mat-checkbox>
                        </td>
                        <td class="detail">{{ticket.seatLabel}}({{ticket.ticketTypeName}})</td>
                        <td class="detail"><i>票号：</i>{{ticket.ticketCode}}</td>
                        <td><i>状态：</i>{{ticket.refundLabel}}</td>
                      </tr>
                      <tr>
                        <td>

                        </td>
                        <td><i>票价(元)：</i>{{ticket.billResPrice}}</td>
                        <td><i>代售费(元)：</i>{{ticket.billResServiceNet}}</td>
                        <td><i>服务费(元)：</i>{{ticket.ticketService}}</td>
                      </tr>
                    </table>
                  </li>
                  <li [ngClass]="{'active': goods.isChecked, 'disabled': goods.isRefund == 1}" *ngFor="let goods of goodsList">
                    <table class="goods-table">
                      <tr>
                        <td class="checkbox">
                          <mat-checkbox class="example-margin" [checked]="goods.isChecked" (change)="select(goods,$event)" *ngIf="goods.isRefund == 0"></mat-checkbox>
                        </td>
                        <td colspan="3" style="width: 73%">{{goods.resName}}{{goods.nameResStr}}</td>
                        <td>金额(元)：{{goods.billResPrice}}</td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </div>
              <div class="pay-detail">
                <table class="refund-table">
                  <tr>
                    <td class="title">支付明细</td>
                    <td>
                      <ul class="payed-ul">
                        <li *ngFor="let pay of payList">{{pay.payModeNameLabel}}：<i>{{pay.billPayAmount}}</i></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="title">已退款项</td>
                    <td>
                      <ul class="payed-ul">
                        <li *ngFor="let pay of refundList">{{pay.payModeNameLabel}}：<i class="rcolor">-{{pay.refundAmount}}</i></li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="refund-div">
                <ul class="refund-ul">
                  <li class="gcolor">
                    退单原因：
                    <nz-select nzPlaceHolder="请选择" [(ngModel)] = "refundDetail.reason">
                      <nz-option *ngFor="let reason of reasonList" [nzValue]="reason.value" [nzLabel]="reason.label"></nz-option>
                    </nz-select>
                  </li>
                  <li class="monney">退款金额：<i>{{refundDetail.money}}</i>元</li>
                  <li class="monney">退票数量：<i>{{refundDetail.num}}</i>张</li>
                </ul>
              </div>
          </div>
          <div class="right">
            <div class="pay-div">
              <div class="pay">
                <mat-checkbox class="example-margin" (change)="selectCustomPay($event)">自定义退款方式</mat-checkbox>
              </div>
              <ul class="pay-ul">
                <li *ngFor="let rp of customPays">
                    <table>
                      <tr>
                        <td class="ptd">支付方式：</td>
                        <td>
                          <nz-select nzPlaceHolder="请选择" [(ngModel)]="rp.uidPayMode" (ngModelChange)="changeCustomPay(rp,$event)">
                            <nz-option *ngFor="let pp of billDetail.selfRefundPayTypeList" [nzValue]="pp.uid" [nzLabel]="pp.modeName"></nz-option>
                          </nz-select>
                        </td>
                      </tr>
                      <tr>
                        <td class="ptd">金额(元)：</td>
                        <td>
                          <input nz-input [(ngModel)]="rp.billPayAmount" class="custom-input">
                        </td>
                      </tr>
                      <tr>
                        <td class="ptd">退款账号/票券编号：</td>
                        <td>
                          <input nz-input [(ngModel)]="rp.account" class="custom-input">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="text-align: right">
                          <button nz-button color="primary"  class="add-pay-btn" *ngIf="customPays.length == 1" (click)="addCustomPay()">添加</button>
                          <button nz-button color="primary"  class="delete-pay-btn" *ngIf="customPays.length > 1" (click)="delCustomPay(rp)">删除</button>
                        </td>
                      </tr>
                    </table>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="index == 0">
  <ion-toolbar class="actions">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5.4"></ion-col>
        <ion-col size="1">
          <ion-button expand="block" class="pickup-btn" [disabled]="!canReturn" (click)="refundTicket()">退单</ion-button>
        </ion-col>
        <ion-col size="4.6"></ion-col>
        <ion-col size="1">
          <ion-button (click)="back()" fill="outline" color="primary" expand="block" class="close-btn">关闭</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!-- 退票结束 -->

<!-- 整场退票开始 -->
<ion-content [fullscreen]="true" *ngIf="index == 1" class="content">
  <div class="content-box">
    <div class="left-nav">
      <div class="left-content-top">
        <ion-toolbar class="header">
          <ion-buttons slot="start">
            <ion-button (click)="prev()">
              <ion-icon name="chevron-back-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="next()">
              <ion-icon name="chevron-forward-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
          <form [formGroup]="form" style="display: none">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
          <ion-title (click)="picker.open()">
            <span *ngIf="planDate.label != ''">{{planDate.label}}</span>
            {{planDate.name}}
          </ion-title>
        </ion-toolbar>
      </div>
      <div class="left-content-center">
        <ion-grid class="ion-no-padding grid-hall">
          <ion-row>
            <ion-col size="3" class="hall-lable">
              选择影厅：
            </ion-col>
            <ion-col>
              <nz-select (ngModelChange)="changeHall($event)" [(ngModel)]="hallUid" nzPlaceHolder="请选择影厅">
                <nz-option *ngFor="let hall of hallDatas" [nzValue]="hall.uid" [nzLabel]="hall.fieldName" ></nz-option>
              </nz-select>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding plan-grid">
          <ion-row class="plan noselect" [ngClass]="{'active': plan.uid == p.uid}" *ngFor="let p of page.showData" (click)="selectPlan(p)">
            <ion-col size="7.3">
              <div class="movie-name">{{p.planMovieName}}</div>
            </ion-col>
            <ion-col size="4.7" class="rt">
              <div class="effect">
                <i class="lh">{{p.planLanguageName}}</i>
                <i class="ts">{{p.planMoviePublish}}</i>
                <i class="time">{{p.showTimeStartLabel}}</i>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="page" *ngIf="page.totalPageSize > 1">
            <ion-col>
              <ion-toolbar class="header">
                <ion-buttons slot="start">
                  <ion-button (click)="prevPage()">
                    <ion-icon name="chevron-up-circle"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button (click)="nextPage()">
                    <ion-icon name="chevron-down-circle"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-title>
                  <span>{{page.showPage}}/{{page.totalPageSize}}</span>
                  共{{page.totalCount}}项
                </ion-title>
              </ion-toolbar>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!hideEmptyPlan" style="height: 100%">
            <ion-col>
              <div class="empty-plan">
                <span class="img"></span>
                <span class="tip">当前影厅暂无可选场次</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="right-nav">
      <div *ngIf="!hideEmptyMovie" class="empty-movie">
        <span class="img"></span>
        <span class="tip">请先选择放映场次</span>
      </div>
      <div *ngIf="planDetail && planDetail.showMovieName !== ''">
        <ion-item lines="none" class="movie">
          <!--阿凡达（3D/数学）/2021-03-16 10：00/招商银行3D厅-->
          {{planDetail.showMovieName}}
        </ion-item>
        <ion-item lines="none" class="top10">
          <h3>售票及退票情况</h3>
        </ion-item>
        <ion-item lines="none">
          <nz-table #addTable
                    nzBordered
                    class="add-table"
                    [nzData]="addPage.applyDatas"
                    [nzLoading]="addPage.loading"
                    [(nzPageSize)]="addPage.pageSize"
                    [nzShowQuickJumper]="false"
                    [nzShowPagination]="false"
                    [nzShowSizeChanger]="false">
            <thead>
            <tr>
              <th class="cth">售票数量（张） </th>
              <th class="cth">售票总金额（元）</th>
              <th class="cth">已退数量</th>
              <th class="cth">已退售票金额 （元）</th>
              <th class="cth">可退数量 </th>
              <th class="cth">可退售票金额（元）</th>
              <th class="cth">可退服务费（元）</th>
              <th class="cth">可退代售费 （元）</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of addTable.data">
              <td class="ctd">{{ data.saleTotalNum }}</td>
              <td class="ctd">{{ data.saleTotalPrice }}</td>
              <td class="ctd">{{ data.reTotalNum }}</td>
              <td class="ctd">{{ data.reTotalPrice }}</td>
              <td class="ctd">{{ data.canReTotalNum }}</td>
              <td class="ctd">{{ data.canReTotalPrice }}</td>
              <td class="ctd">{{ data.canReServiceTotalPrice }}</td>
              <td class="ctd">{{ data.canReNetTotalPrice }}</td>
            </tr>
            </tbody>
          </nz-table>
        </ion-item>
        <ion-item lines="none" class="top10">
          <h3>退票</h3>
        </ion-item>
        <ion-item lines="none">
            <table class="all-table">
              <tr>
                <td width="50%" class="gcolor">退票原因：
                  <nz-select nzPlaceHolder="请选择" [(ngModel)] = "refundAllDetail.rejectReasonCode">
                    <nz-option *ngFor="let reason of reasonList" [nzValue]="reason.value" [nzLabel]="reason.label"></nz-option>
                  </nz-select>
                </td>
                <td class="gcolor">支付方式：
                  <nz-select nzPlaceHolder="请选择" [(ngModel)] = "refundAllDetail.uidPayMode">
                    <nz-option *ngFor="let rpd of payDatas" [nzValue]="rpd.uid" [nzLabel]="rpd.modeName"></nz-option>
                  </nz-select>
                </td>
              </tr>
              <tr>
                <td class="bcolor">退款金额：<i>{{planDetail.refundPrice}}</i>元</td>
                <td class="bcolor">退款数量：<i>{{planDetail.canReTotalNum}}</i>张</td>
              </tr>
            </table>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="index == 1">
  <ion-toolbar class="actions">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5.4"></ion-col>
        <ion-col size="1">
          <ion-button [disabled]="!planDetail" expand="block" class="commit-btn" (click)="refundAll()">整场退票</ion-button>
        </ion-col>
        <ion-col size="4.6"></ion-col>
        <ion-col size="1">
          <ion-button (click)="back()" fill="outline" color="primary" expand="block" class="close-btn">关闭</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!-- 整场退票结束 -->

<!-- 退票申请开始 -->
<ion-content [fullscreen]="true" *ngIf="index == 2" class="content">
  <div class="content-box">
    <div class="content-top">
      <form [formGroup]="tableform" class="auth-form">
        <ion-item lines="none" >
          <table>
            <tr>
              <td class="ctd-width">放映日期：</td>
              <td width="24%">
                <nz-date-picker
                  class="date"
                  nzFormat="yyyy-MM-dd"
                  nzPlaceHolder="开始时间"
                  formControlName="start"></nz-date-picker>
                至
                <nz-date-picker
                  class="date"
                  nzFormat="yyyy-MM-dd"
                  nzPlaceHolder="结束时间"
                  formControlName="end"></nz-date-picker>
              </td>
              <td class="ctd-width">
                影片名称：
              </td>
              <td width="12%">
                <input placeholder="请输入影片名称" nz-input formControlName="movieName" class="movie-input">
              </td>
              <td class="ctd-width">
                审核状态：
              </td>
              <td class="ctd-select-width">
                <nz-select formControlName="status" nzPlaceHolder="请选择">
                  <nz-option [nzValue]="''" [nzLabel]="'全部'"></nz-option>
                  <nz-option [nzValue]="'0'" [nzLabel]="'待受理'"></nz-option>
                  <nz-option [nzValue]="'1'" [nzLabel]="'受理中'"></nz-option>
                  <nz-option [nzValue]="'2'" [nzLabel]="'受理成功'"></nz-option>
                  <nz-option [nzValue]="'3'" [nzLabel]="'受理失败'"></nz-option>
                </nz-select>
              </td>
              <td class="ctd-hall-width">
                影厅：
              </td>
              <td class="ctd-select-width">
                <nz-select formControlName="hall" nzPlaceHolder="请选择">
                  <nz-option *ngFor="let hall of hallDatas" [nzValue]="hall.uid" [nzLabel]="hall.fieldName" ></nz-option>
                </nz-select>
              </td>
              <td class="ctd-btn-width">
                <button nz-button nzType="primary" class="apply-search-btn" (click)="queryApply()">查询</button>
              </td>
            </tr>
          </table>
        </ion-item>
      </form>
    </div>
    <div class="content-center">
      <nz-table #rowSelectionTable
                nzBordered
                [nzFrontPagination]="false"
                [nzData]="appendPage.applyDatas"
                [nzLoading]="appendPage.loading"
                [nzTotal]="appendPage.total"
                [(nzPageIndex)]="appendPage.pageIndex"
                [(nzPageSize)]="appendPage.pageSize"
                [nzShowQuickJumper]="false"
                [nzShowSizeChanger]="false"
                (nzPageIndexChange)="changePageIndex($event)"
                (nzPageSizeChange)="changePageSize($event)">
        <thead>
        <tr>
          <th class="cth">影片编码</th>
          <th class="cth">影片名称</th>
          <th class="cth">放映时间</th>
          <th class="cth">影厅</th>
          <th class="cth">票数（张）</th>
          <th class="cth">总票价（元）</th>
          <th class="cth">申请人</th>
          <th class="cth">申请时间</th>
          <th class="cth">受理编码</th>
          <th class="cth">审核状态</th>
          <th class="cth">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td class="ctd">{{ data.movieCode }}</td>
          <td class="ctd">{{ data.movieName }}</td>
          <td class="ctd">{{ data.showTimeStart }}</td>
          <td class="ctd">{{ data.hallName }}</td>
          <td class="ctd">{{ data.ticketNum }}</td>
          <td class="ctd">{{ data.ticketAmount }}</td>
          <td class="ctd">{{ data.appendPerson }}</td>
          <td class="ctd">{{ data.appendTime }}</td>
          <td class="ctd">{{ data.appendReturnCode }}</td>
          <td class="ctd">{{ data.approveStatusName }}</td>
          <td class="ctd">
            <button nz-button nzType="default" class="opt-btn" (click)="view(data)">查看</button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="index == 2">
  <ion-toolbar class="actions">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="11"></ion-col>
        <ion-col size="1">
          <ion-button (click)="back()" fill="outline" color="primary" expand="block" class="close-btn">关闭</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!-- 退票申请结束 -->
