<ion-header #header [translucent]="true">
    <ion-toolbar>
        <ul>
            <li *ngFor="let item of items?.slice(0,length)">
                <a (click)="link(item.path)" href="javascript:;" [class.curr]="item.name === name">
                    <i class="pos-font {{'pos_' + item.icon}}"></i>
                    <span>{{item.label}}</span>
                </a>
            </li>
            <li *ngIf="extraMenus.length === 0 && authSvc.role('797')">
                <a href="javascript:;" (click)="openTill()">
                    <i class="pos-font pos_open"></i>
                    <span>开钱箱</span>
                </a>
            </li>
            <li *ngIf="extraMenus.length > 0" #overlayOrigin="cdkOverlayOrigin" cdkOverlayOrigin>
                <a [appExtraMenus]="overlayOrigin" [extraMenus]="extraMenus" [name]="name" href="javascript:;">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </a>
            </li>
        </ul>
        <ion-buttons slot="end">
            <ion-button (click)="minSize()">
                <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="authSvc.role('794')" (click)="askForLock()">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="askForLogout()">
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
