<ion-header>
    <ion-toolbar>
        <ion-title>选择影院</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <form [formGroup]="form" class="form">
                    <span><ion-label class="cinema-label">影院名称／影院编码：</ion-label></span>
                    <span><input placeholder="请输入影院名称／影院编码" formControlName="cinemaName" nz-input
                                 class="query-input"></span>
                    <span><button nz-button nzType="primary" (click)="query()" class="query-btn">查询</button></span>
                </form>
            </ion-col>
            <ion-col size="4" *ngFor="let cinema of currentPageData(cinemas,page)">
                <div (click)="setCinema(cinema)" class="item-box">
                    <h2>{{cinema.cinemaName}}</h2>
                    <p>营业状态：{{cinema.cinemaStatus | cinemaStatus}}</p>
                    <p>影院编码：{{cinema.cinemaCode}}</p>
                    <p>所属组织：{{cinema.orgName}}</p>
                    <div class="line"></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="auto">
                    <pagination [page]="page" (change)="pageChange($event)"></pagination>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="10.7"></ion-col>
                <ion-col size="1.3">
                    <ion-button (click)="cancel()" fill="outline" color="primary" expand="block" class="close-btn">关闭
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
