:host {

  nz-table {
    margin: 10px;
  }

  nz-pagination {
    margin: 0 10px 10px;
    text-align: right;

    &::ng-deep {
      .ant-pagination-total-text {
        float: left;
      }
    }
  }
}

