<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-segment [(ngModel)]="type" (ionChange)="segmentChange($event)">
            <ion-segment-button value="film" layout="icon-bottom">
              <ion-label>影片显示</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hall" layout="icon-bottom">
              <ion-label>影厅显示</ion-label>
            </ion-segment-button>
            <ion-segment-button value="time" layout="icon-bottom">
              <ion-label>时间显示</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="auto">
          <ion-buttons>
            <ion-button (click)="prev()">
              <ion-icon name="chevron-back-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="auto">
          <form [formGroup]="form" style="display: none">
            <mat-form-field>
              <mat-label>{{form.get('date').value | day}}</mat-label>
              <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
          <div (click)="picker.open()" class="date-picker">
            <span>{{form.get('date').value | day : true}}</span>
            {{this.form.get('date').value | date : 'yyyy-MM-dd'}} {{this.form.get('date').value | week}}
          </div>
        </ion-col>
        <ion-col size="auto">
          <ion-buttons>
            <ion-button (click)="next()">
              <ion-icon name="chevron-forward-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
        <ion-col (click)="check('showCounts')" class="check-item" size="auto" style="align-self: center">
          <!--<ion-icon name="checkbox-outline"></ion-icon>-->
          <ion-icon [name]="showCounts ? 'checkbox-outline' : 'square-outline'"></ion-icon>
          <span>显示人次和票房</span>
        </ion-col>
        <ion-col (click)="check('showDisabled')" class="check-item" size="auto" style="align-self: center">
          <ion-icon [name]="!showDisabled ? 'checkbox-outline' : 'square-outline'"></ion-icon>
          <span>只显示可售场次</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-button (click)="reload()">
        <ion-icon name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollY]="false">
  <app-ticket-plans-type-film-full [showCounts]="showCounts" (askForDismiss)="dismiss($event)" class="ion-page animate__animated" [plans]="plans" *ngIf="plans && type === 'film'"></app-ticket-plans-type-film-full>
  <app-ticket-plans-type-hall-full [showCounts]="showCounts" (askForDismiss)="dismiss($event)" class="ion-page animate__animated" [plans]="plans" *ngIf="plans && type === 'hall'"></app-ticket-plans-type-hall-full>
  <app-ticket-plans-type-time-full [showCounts]="showCounts" (askForDismiss)="dismiss($event)" [date]="this.form.get('date').value" class="ion-page animate__animated" [plans]="plans" *ngIf="plans && type === 'time'"></app-ticket-plans-type-time-full>
</ion-content>
