<ion-header class="page-header">
  <ion-toolbar>
    <ion-title>系统设置</ion-title>
    <span style="float: right;width: 60px;height: 40px;" (dblclick)="dblclickF()"></span>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="form" class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">卡类型</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" formControlName="cardType" placeholder="请选择">
                <nz-option *ngFor="let item of cartTypeList" [nzValue]="item.CardTypeCode" [nzLabel]="item.CardTypeName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">读卡器</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" nzPlaceHolder="请选择" formControlName="cardReader">
                <nz-option *ngFor="let item of cardReaderList" [nzValue]="item.CardReaderCode" [nzLabel]="item.CardReaderName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">影票打印机</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" nzPlaceHolder="请选择" formControlName="printerMovieTicket">
                <nz-option *ngFor="let item of printerList" [nzValue]="item.PrinterCode" [nzLabel]="item.PrinterName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">卖品打印机</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" nzPlaceHolder="请选择" formControlName="printerMer">
                <nz-option *ngFor="let item of printerList2" [nzValue]="item.PrinterCode" [nzLabel]="item.PrinterName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">票券打印机</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" nzPlaceHolder="请选择" formControlName="printerCouTicket">
                <nz-option *ngFor="let item of printerList3" [nzValue]="item.PrinterCode" [nzLabel]="item.PrinterName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">卖品销售出库关联仓库</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select nzSize="large" nzPlaceHolder="请选择" formControlName="merSaleWare">
                <nz-option *ngFor="let item of cops" [nzValue]="item.uid" [nzLabel]="item.whName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">零售终端售卖范围</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="terSaleScoTicket">电影票</mat-checkbox>
                <mat-checkbox class="example-margin" formControlName="terSaleScoMer" style="margin-left: 20px">卖品</mat-checkbox>
              </section>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <!--<ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">选中会员票类必须登录会员</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-radio-group formControlName="loginMemberSelected">
                <label nz-radio nzValue="1">是</label>
                <label nz-radio nzValue="0">否</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-label nzSize="large" [nzSpan]="10">是否选中系统推荐活动</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-radio-group formControlName="autoSelectedTicketType">
                <label nz-radio nzValue="1">是</label>
                <label nz-radio nzValue="0">否</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </ion-col>-->
        <ion-col size="6">
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col size="1">
          <ion-button fill="outline" color="primary" expand="block" (click)="close()">取消</ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button expand="block" (click)="commit()">确定</ion-button>
        </ion-col>
        <ion-col size="7"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
