ion-header {
  ion-toolbar {
    --background: linear-gradient(180deg, #2067DA 0%, #4778C7 100%);
    --box-shadow: 0px 2px 4px 0px rgba(67, 101, 156, 0.45);
    --opacity: 1 !important;
    --color: #fff;

    &:last-of-type {
      --border-width: 0 !important
    }

    ul, li {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        i {
          font-size: 20px;
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
        }
        span {
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    ion-buttons {
      ion-button {
        --color: #fff;
        --background: #164FAC;
        font-size: 14px;
        text-align: center;
        width: 32px !important;
      }
    }
  }
}
